/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    text-align: center;
    padding-top: 20px;
    background: url('../img/background.png') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    height: 100%;
}
.btn{
    margin-top: 20px;
}
#tunero{
    height: 200px;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px !important;
    width: 300px;
    margin: auto;
    box-shadow: 0px 0px 19px #000;
    border-style: solid;
    border-color: #cbcbcb;
    border-width: 1px;
}
h3{
    color: white;
    font-weight: bolder;
    text-align: left;
    text-shadow: 0px 0px 13px #000;
}
#textTurnero{
    font-size: 138px;
    margin-top: -20px;
    font-weight: bold;
}
img{
    max-width: 25%;
    margin-top: 20px;
    margin:auto;
}
